header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  background-color: #212529;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px -9px 22px -10px rgba(19, 22, 24, 0.6) inset;
  z-index: 999;

  nav {
    .header-nav-item {
      display: inline;
      margin: 0 0.5rem;
      padding: 0.1rem 0;
      transition: border-bottom 0.15s ease;

      &:nth-child(1) {
        margin-right: 1.5rem;
      }

      &:nth-child(1) a {
        font-size: 1rem;
        color: #fff;
      }

      &:nth-child(2):hover {
        border-bottom: 2px solid rgb(66, 177, 194);
      }

      &:nth-child(3):hover {
        border-bottom: 2px solid rgb(66, 194, 115);
      }

      &:nth-child(4):hover {
        border-bottom: 2px solid rgb(194, 183, 66);
      }

      &:nth-child(5):hover {
        border-bottom: 2px solid rgb(194, 66, 158);
      }

      &:nth-child(6):hover {
        border-bottom: 2px solid rgb(194, 66, 66);
      }

      &:hover {
        border-bottom: 2px solid rgb(92, 92, 226);
      }

      &:hover a {
        color: hsla(0, 0%, 100%, 1);
      }

      a {
        font-size: 0.9rem;
        font-weight: 600;
        text-decoration: none;
        color: hsla(0, 0%, 100%, 0.6);
        cursor: pointer;
        transition: color 0.15s ease;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header-nav-item:nth-child(5) {
    display: none;
  }

  .header-nav-item:nth-child(6) {
    display: none;
  }
}
