.tags {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #212529;

  p {
    color: #f1f3f584;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .tagGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}
