.list {
  h1 {
    width: 100%;
    font-size: 1.8rem;
    text-align: start;
    color: rgb(66, 194, 115);
    border-bottom: 1px solid rgba(238, 238, 238, 0.106);
    margin-top: 4rem;
    margin-bottom: 0.8rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
