.home-head {
  padding: 3.5rem 0;
  margin-bottom: 1.5rem;

  div {
    h1 {
      font-size: 3rem;
      color: #f1f3f5;
    }

    p {
      font-size: 1.5rem;
      color: #f1f3f5;
    }
  }
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #f1f3f5;
}

.card-articles {
  margin-bottom: 3rem;

  .head-card-block {
    margin-bottom: 1rem;
  }
}

.sub-text {
  font-size: 1rem;
  color: #f1f3f5;
}
