.post {
  h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #f1f3f5;
  }

  h3 {
    font-size: 2rem;
    color: #f1f3f5;
  }

  p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #f1f3f5;
  }

  a {
    color: #afb3ff;

    &:hover {
      background-color: #afb3ff;
      text-decoration: none;
      color: #212529;
    }
  }

  ul {
    font-size: 1.2rem;
    color: #f1f3f5;
  }

  li {
    margin: 0.5rem 0;
  }

  li::marker {
    color: #bf95fa;
  }

  p {
    code {
      padding: 0.25rem 0.5rem;
      background-color: #f4f4fc22;
      border-radius: 5px;
      color: #f1f3f5;
    }
  }

  pre {
    padding: 1rem;
    background: hsl(220, 13%, 18%);
    border-radius: 5px;
    box-shadow: 0px 0px 28px -8px rgba(37, 40, 47, 0.44) inset;
    overflow-y: hidden;

    div {
      padding: 0 !important;
      margin: 0 !important;
    }

    code {
      color: rgba(255, 255, 255, 0.605);
    }
  }
}
